/* Universal reset */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}

/* Body and background */
body {
   margin: 0;
   padding: 0;
   height: 100vh;
   background-image: url('gallery/PHOTO-2024-12-20-12-24-50_2.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: white;
   font-family: 'Cormorant SC', serif;
   display: flex;
   flex-direction: column;
   overflow-x: hidden;
}

/* Header */
header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 15px 20px;
   background-color: #001f3f;
}

header .logo {
   margin-right: auto;
   font-size: 1.5rem;
   font-weight: bold;
   color: #ff9900;
}

header nav {
   display: flex;
   gap: 20px;
}

header nav a {
   color: #ff9900;
   text-decoration: none;
   font-size: 1rem;
   font-weight: bold;
   transition: color 0.3s ease;
   text-shadow: 0 0 2px #001f3f, 0 0 4px #001f3f;
}

header nav a:hover {
   color: #ffffff;
}

@media (max-width: 768px) {
   header {
       flex-wrap: wrap;
       padding: 10px 15px;
   }

   header .logo {
       font-size: 1.2rem;
       margin-bottom: 10px;
   }

   header nav {
       gap: 10px;
   }

   header nav a {
       font-size: 0.9rem;
   }
}

@media (max-width: 480px) {
   header {
       padding: 8px 8px;
   }

   header .logo {
       font-size: 1rem;
   }

   header nav a {
       font-size: 0.8rem;
   }
}

/* Footer */
.footer {
   background-color: #001f3f;
   color: #ff9900;
   font-family: 'Cormorant SC', serif;
   text-align: center;
   padding: 20px 0;
   position: fixed;
   bottom: 0;
   width: 100%;
   z-index: 10;
}

.footer-content p {
   margin: 5px 0;
   font-size: 16px;
}

/* Contact Form */
#contact-form {
   background-color: #ff9900;
   padding: 20px 30px;
   max-width: 90%;
   margin: 150px auto;
   border-radius: 7px;
   position: relative;
   text-align: center; /* Allinea orizzontalmente */
}

#contact-form input,
#contact-form select,
#contact-form textarea {
   color: #ff9900;
   background: #fff;
   border: 0;
   border-radius: 4px;
   margin-bottom: 25px;
   padding: 10px;
   width: 100%;
   transition: background-color 0.3s ease;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
   background-color: #001f3f;
   color: white;
}

#contact-form label {
   font-size: 15px;
   font-weight: bold;
   margin-bottom: 5px;
   display: block;
   color: #001f3f;
}

#contact-form button[type="submit"] {
   cursor: pointer;
   width: 100%;
   border: none;
   background: #001f3f;
   color: #ff9900;
   padding: 10px;
   border-radius: 5px;
   transition: background 0.3s ease-in-out;
}

#contact-form button[type="submit"]:hover {
   background: #ff9900;
   color: #001f3f;
}

@media only screen and (max-width: 480px) {
   #contact-form {
       max-width: 100%; /* Occupa l'intera larghezza disponibile */
       margin: 20px auto; /* Riduci il margine superiore */
       padding: 10px 15px; /* Riduci il padding interno */
   }

   #contact-form label {
       font-size: 14px; /* Riduci leggermente il font */
   }

   #contact-form input,
   #contact-form select,
   #contact-form textarea {
       font-size: 14px; /* Dimensione font adattata */
       padding: 8px; /* Riduci il padding degli input */
   }

   #contact-form button[type="submit"] {
       padding: 8px; /* Riduci il padding del pulsante */
       font-size: 14px; /* Dimensione font adattata */
   }
}


/* Image and video scaling */
img,
video {
   max-width: 100%;
   height: auto;
}

